<h1>Index Page</h1>

<% @products.each do |product| %>
<p>
  <%= link_to("#{product.name}", product_path(product.id) ) %>
  <br/>
  <%= product.description %> |
  <%= product.price_in_cents %>
</p>
<% end %>
